melody_gen_code/midi
melody_gen_code/midi/good/clean_midi/Queen/temp2.wav
melody_gen_code/midi/temp.mid
melody_gen_code/midi/temp.mid
*.png
*.SPIFFYPC
melody_gen_code/models
\melody_gen_code/midi/extra
